#Mine
secrets/
key.json
variables.json
#Terraform
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
key.json
versions.tf

#Ansible
*.retry
jdauphant.nginx
vault.key

#Docker
dock.env
