cloud_id                 = "b1ghqk0n4i00******"
folder_id                = "b1g0spc6qrd7k*******"
zone                     = "ru-central1-b"
public_key_path          = "~/.ssh/yandex-cloud.pub"
subnet_id                = "e2la8uhupad08******"
service_account_key_file = "./files/key.json"
service_account_id       = "ajeft69vl5i7pp******"
node_service_account_id  = "aje9bn9ajtqtkai*****"
network_id               = "enpf86mmgqr1og6*****"
