cloud_id                 = "b1g12313123123"
folder_id                = "b1gr1231321231321e5co"
zone                     = "ru-central1-a"
image_id                 = "fd8dasdafg2sjcg804"
public_key_path          = "~/.ssh/appuser.pub"
subnet_id                = "e9asdasasdafhs57u8o2"
service_account_key_file = "key.json"
private_key_path         = "~/.ssh/appuser"
app_disk_image           = "asdasdadsmh"
db_disk_image            = "asdasdas11231"
